2. WAS to print 'Hello World' by using python print function.

In [ ]:
s = 'Hello World'
print(s)

3. Was to initialize variable and value as 50.

In [ ]:
a = 50
print(a)

4. WAS to initialize multivariable, values 150, 12, 250.

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)

5. WAS to print the type of the data in given below.

In [ ]:
a = 'string'
print(type(a))

6. WAS to print the address of the memory block in given below

In [ ]:
a = 40
print(id(a))

7. WAS to print your details, first store your details, extract the value and display it.

In [ ]:
chandan = {'name':'chandan', 'age':21, 'ph no':6372923833, 'course':'Python'}
print(chandan['name'])
print(chandan['age'])
print(chandan['ph no'])
print(chandan['course'])
print(chandan)

8. WAS to swap the two values, with a temp variable

In [ ]:
a = 10
b = 20
print('before swapping:', a, b)
temp = a
a = b
b = temp
print('after swapping:',a, b)

9. WAS to swap values without temp variable.

In [ ]:
a = [10, 20]
b = (30, 40)
print('before swapping: ', a, b)
a, b = b, a
print('after swapping: ', a, b)

10. WAS to initialize a value, print the value, after print the value, then new value to the axisting variable and display the value.

In [ ]:
a = 10
print(a)
a = 10.05
print(a)

11. WAS to convert single to multivalues data type

In [ ]:
a = 10
print(list(str(a)))

12. WAS to concat the two multivalued data type(str, list, tuple, dict, set).

In [ ]:
s1 = 'abc'
s2 = 'cde'
print(s1+s2)
l1 = [1, 2, 3]
l2 = [3, 4, 5]
print(l1+l2)
t1 = (1, 2, 3)
t2 = (3, 4, 5)
print(t1+t2)
d1 = {1:2, 2:3}
d2 = {3:4, 4:5}
print(d1|d2)
st1 = {1, 2, 3}
st2 = {3, 4, 5}
print(st1|st2)

13. WAS to check the length of the collection.

In [ ]:
l = [1, 2, 3, 4]
print(len(l))

14. WAS to find out the middle variable of the given collection.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7]
print(l[len(l)//2])

15. WAS to concat the new string into the starting of the given string.

In [ ]:
s = 'spiders'
s = 'py' + s
print(s)

16. WAS to concat the new string into the ending of the given string.

In [ ]:
s = 'qspider'
s += 's'
print(s)

17. WAS to concat the new string into the middle of the given string.

In [ ]:
s = 'abcdef'
s = s[:len(s)//2] + '1' + s[len(s)//2:]
print(s)

18. WAS to modify the new character into the middle of the given string.

In [ ]:
s = 'pyspiders'
s = s[:len(s)//2] + 'I' + s[:len(s)//2:]
print(s)

19. WAS to modify sequence of characters in given string.

In [ ]:
s = 'pyspiders'
s = s[:3] + 'PID' + s[-3:]
print(s)

20. WAS to replace the old character into a new character of the given string.

In [ ]:
s = 'pyspiders'
s = s[:5] + 'D' + s[-3:]
print(s)

21. WAS to delete the specific character in the given string.

In [ ]:
s = 'pyspiders'
s = s[:3] + s[4:]
print(s)

In [ ]:
22. WAS to concat the sequence of characters in the given string.

In [ ]:
s = 'pyspiders'
s = s[:3] + s[-3:]
print(s)

23. WAS to concat the new string into a specific position of the given string.

In [ ]:
s = 'pyspiders'
s = s[:2] + 'S' + s[2:]
print(s)

24. WAS to concat the new vlaues into the starting of the given list.

In [ ]:
l = [1, 2, 3]
l = ['a', 'b'] + l
print(l)

25. WAS to concat new values into the ending of the gioven list.

In [ ]:
l = [1, 2, 3]
l += [4, 5]
print(l)

26. WAS to concat new value into the middle of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[len(l)//2:len(l)//2] = ['a', 'b']
print(l)

27. WAS to concat new value into the sspecific position of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[3:3] = ['a', 'b']
print(l)

28. WAS to modify new value into the sspecific position of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[2] = 'a'
print(l)

29. WAS to modify new value into the starting of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[0] = 'a'
print(l)

30. WAS to modify new value into the ending of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[-1] = [(1, 2, 3)]
print(l)

31. WAS to modify new value into the middle of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
l[len(l)//2] = 'a'
print(l)

32. WAS to modify ther last 4 positions value into a given list.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7]
l[:4] = ['a', 'b', 'c', 'd']
print(l)

33. WAS to modify the sequence of values into the given list.

In [ ]:
l = ['a', 'b', 'c', 'd', 'e']
l[2:4] = [2, 3]
print(l)

34. WAS to delete the value in the specific position of a given list.

In [ ]:
l = [1, 2, 3, 4, 5]
del l[2]
print(l)

35. WAS to delete values in the ending of given list.

In [ ]:
l = [1, 2, 3, 4, 5]
del l[-1]
print(l)

36. WAS to delete value in the starting of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
del l[0]
print(l)

37. WAS to delete value in the middle of the given list.

In [ ]:
l = [1, 2, 3, 4, 5]
del l[len(l)//2]
print(l)

38. WAS concat the new value into starting of the tuple.

In [ ]:
t = (1, 2, 3)
t = ('a', 'b') + t
print(t)

39. WAS to concat new value into middle of the tuple.

In [ ]:
t = (1, 2, 3)
t = t[:len(t)//2] + ('a', 'b') + t[len(t)//2:]
print(t)

40. WAS to concat the value into the ending of the tuple.

In [ ]:
t = (1, 2, 3)
t+=(4, 5)
print(t)

41. WAS to modify the sequency of values in given tuple.

In [ ]:
t = (1, 2, 3, 4, 5)
t = t[:1] + ('a', 'b') + t[3:]
print(t)

42. WAS to delete the sequency of values in given tuple.

In [ ]:
t = (1, 2, 3, 4, 5)
t = t[:1] + t[3:]
print(t)

43. WAS to concat new value into the set.

In [ ]:
s = {1, 2, 3, 4}
s |= {5, 6}
print(s)

44. WAS to delete the specific values into the set.

In [ ]:
s = {1, 2, 3, 4, 5}
s -= {3}
print(s)

45. WAS to concat new key and value into the dict.

In [ ]:
d = {1:2, 2:3}
d[30] = 4
print(d)

46. WAS to delete the specific key and value from the given dict.

In [ ]:
d = {1:2, 2:3, 3:4, 4:5}
del d[2]
print(d)

47. WAS to delete the set values.

In [ ]:
s = {1, 3, 4, 6}
s-= {3, 4}
print(s)

In [ ]:
s = {1, 3, 4, 6}
s-= {3, 4}
print(s)

48. WAS to modify the specific value in the given dict.

In [ ]:
d = {1:'a', 2:'b', 3:'c'}
d[3] = 'd'
print(d)

49. WAS to concat the list wvalue and tuple value by using type casting.

In [ ]:
l = [1, 2, 3, 4]
t = (5, 6, 7)
print(l + list(t))

50. WAS to concat the list wvalue and tuple value without using type casting.

In [ ]:
l = [1, 2, 3, 4]
t = (5, 6, 7)
l+=t
print(l)

51. WAE to check the given number is divided by 3.

In [ ]:
a = 5
print(a%3==0)

52. WAE to check the given number is divided by 2 and 6.

In [ ]:
a = 60
print(a%2==0 and a%6==0)

53. WAE to check the last digit is divisible by 3 from given integer number. (without typecasting)

In [ ]:
a = 749057087
print((a%10)%3==0)

54. WAE to check the last digit is divisible by 3 from given integer number. (with typecasting)

In [ ]:
a = 749057087
print(str(a)[-1]%3==0)

55. WAE to check the given number is greater than 150.

In [ ]:
a = 749057087
print(str(a)[-1]%3==0)

In [ ]:
a = 60
print(a>150)

56. WAE to check the given number is greater than or equal to 100.

In [ ]:
a = 60
print(a>=100)

57. WAE to check the given number is less than 150, print the result.

In [ ]:
a = 60
print(a<150)

58. WAE to check the given number is less than or equal to 100.

In [ ]:
a = 60
print(a<=100)

59. WAE to check the given number is greater than 15 and less than 24.

In [ ]:
a = 60
print(a>15 and a<24)

60. WAS to check the given number is even.

In [ ]:
a = 10
print(a%2==0)

61. WAS to check given number is odd.

In [ ]:
a = 30
print(a%2==1)

62. WAS to check perform the replation of a given string with 6.

In [ ]:
a = 'p'
print(a*6)

63. WAS to check the given number is divisible by 2 and also greater than 22.

In [ ]:
a = 24
print(a%2==0 and a>22)

64. WAE to check the length of the collection is even or not.

In [ ]:
a = 24
print('even' if a%2==0 else 'not even')

65. WAE to check the length of the collection is less than 55 and greater than 16.

In [ ]:
s = 'abcdefghijklmnopq'
print(len(s)<55 and len(s)>16)

66. WAE to check the length of the collection is divisibloe by 5 and odd.

In [ ]:
a = [10, 20, 30, 40, 50]
print(len(a)%5==0 and len(a)%2==1)

67. WAE to check the middle position of the given collection is either str, list, tuple.

In [ ]:
a = (10, [1, 2, 3], {1, 2, 3})
print(type(a[len(a)//2]))

68.  WAE to check the given number greater than 20 and less than 30 and should be even.

In [ ]:
a = 26
print(a > 20 and a<30 and a%2==0)

69. WAE to check the given number is even and it should be less than 120.

In [ ]:
a = 50
print(a%2==0 and a<120)

70. WAE to check the given number is even and present from 40 to 70.

In [ ]:
a = 50
print(a%2==0 and a>=40 and a<=70)

71. WAE to check the given number is odd and should be greater than 97.

In [ ]:
a = 101
print(a%2==1 and a>97)

72. WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.

In [ ]:
a = 150
print(a<122 and a>48 and a%4==0)

73. WAE to check the given number is divisible by 3 or 5, display the value.

In [ ]:
a = 30
print(a%3==0 or a%5==0, a)

74. WAE to check the given number in between 100 to 200 including the limit.

In [ ]:
a = 150
print(a<=200 and a>=100)

75. WAE to check the given number in between 100 to 200.

In [ ]:
a = 150
print(a<200 and a>100)

76. WAE to check the given string last character ASCII value should be divisible by 5 or not.

In [ ]:
s = 'apple'
print(ord(s[-1])%5==0)

77. WAE to check the given number is present between 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9

In [ ]:
a = 120
print(60<=a<=130 and a%12==0 and a%10<9)

78. WAE to check the given number is even or less than 2

In [ ]:
a = 60
print(a%2==0 or a<25)

79. WAE to check the given number is even or greater than 25.

In [ ]:
a = 60
print(a%2==0 or a>25)

80. WAE to check the given number is divisible by either 3 or 5.

In [ ]:
a = 5
print(a%3==0 or a%5==0)

81. WAE to check the given number is not an even number.

In [ ]:
a = 31
print(a%2!=0)

82. WAE to check the given number is not an odd number.

In [ ]:
a = 30
print(a%2!=1)

83. WAE to check the given number is not divisible by 3.

In [ ]:
a = 30
print(a%3!=0)

84. WAE to check the given number is not divisible by 3 and 5.

In [ ]:
a = 7
print(a%3!=0 and a%5!=0)

85. WAE to check the given number is not divisible by 3 or 5.

In [ ]:
a = 7
print(a%3!=0 or a%5!=0)

86. WAE to check the given character ASCII value is not divisible by 5.

In [ ]:
a = 'C'
print(ord(a)%5!=0)

87. WAE to check find out the ASCII character of given number.

In [ ]:
a = 97
print(chr(a))

88. WAE to check find out the ASCII value of a given character.

In [ ]:
ch = 'c'
print(ord(ch))

89. WAE to check the given character is upper case or not.

In [ ]:
ch = 'C'
print(ord(ch) in range(65, 91))

90. WAE to check the given character is lower case or not.

In [ ]:
ch = 'C'
print(ord(ch) in range(90, 128))

91. WAE to check the given character is alphabet.

In [ ]:
ch = 'a'
print(65<=ord(ch)<=90 or 97<=ord(ch)<=122)

92. WAE to check the given character is ASCII number.

In [ ]:
a = '9'
print(48<=ord(a)<=57)

93. WAE to check the given character is special character.

In [ ]:
ch = '_'
print(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127)

94. WAE to check the given character should not be upper case.

In [ ]:
ch = 'C'
print(ord(ch) not in range(65, 91))

95. WAE to check the given character should not be lower case.

In [ ]:
ch = 'C'
print(ord(ch) not in range(90, 128))

96. WAE to check the given character should not be alphabet.

In [ ]:
ch = '9'
print(0<=ord(ch)<65 or 90<ord(ch)<97 or 122<ord(ch)<=127)

97. WAE to check the given character should not be an ASCII number.

In [ ]:
a = 'h'
print(0<=ord(a)<48 or 57<ord(a)<=127)

98. WAE to check the given character should not the special character.

In [ ]:
a = '='
print(48<=ord(a)<=57 or 65<=ord(a)<=90 or 97<=ord(a)<=122)

99. WAE to check the given character is a vowel.

In [ ]:
a = 'a'
print(a in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'])
# print(a in 'aeiouAEIOU')

100. WAE to check the given character is a consonant

In [ ]:
a = 'f'
print(a not in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'])
# print(a not in 'aeiouAEIOU')

101. WAS to convert upper case to lowercase in given character.

In [2]:
a = 'C'
print(chr(ord(a)+32))

c

102. WAS to convert lowercase to uppercase in given character.

In [3]:
ch = 'a'
print(chr(ord(ch)-32))

A

103. WAS to extract the previous character in the given character.

In [4]:
ch = 'd'
print(chr(ord(ch)-1))

c

104. WAS to extract the next character in the givn character.

In [5]:
ch = 'd'
print(chr(ord(ch)+1))

e

105. WAE to check the given character is converted to ASCII valu and the value should be even as well as the character should be lowercase.

In [6]:
ch = 'b'
print(ord(ch)%2==0 and 97<=ord(ch)<=122)

True

106. WAE to check the given character is converted to ASCII valu and the value should be odd as well as the character should be uppercase.

In [7]:
ch = 'B'
print(ord(ch)%2==1 and 65<=ord(ch)<=90)

False

107. WAE to check the given number is converted to character is not a special symbol.

In [10]:
a = 67
print('0'<=chr(a)<='9' or 'A'<=chr(a)<='Z' or 'a'<=chr(a)<='z')

True

108. WAE to check the given number of a ASCII character is a vowel.

In [8]:
a = 97
print(chr(a) in 'aeiouAEIOU')

True

109. WAE to check the first and second characters are sequence or not in a given string.

In [14]:
s = 'abc'
print(ord(s[0])+1==ord(s[1]))
# print(ord(s[0])==ord(s[1])-1)

True

110. WAE to check the given character ASCII value should be either greater than 50 or greater than 25 or less than 112.

In [16]:
ch = 'j'
print(ord(ch)>25 or ord(ch)<112)

True

111. WAE to given number should increased by 1.

In [18]:
m = 69
print(m+1)

70

112. WAE to given number should increased by 2.

In [ ]:
m = 69
print(m+2)

113. WAE to given number should decreased by 1.

In [ ]:
m = 69
print(m-1)

114. WAE to given number should decreased by 2.

In [ ]:
m = 69
print(m-2)

115. WAE to check the given integer number is present in the collection.

In [19]:
s = [10, 20, 30, 40, 50]
a = 100
print(a in s)

False

116. WAE to perform the addition operation on A value and B value a nd final result should be updated to a.

In [20]:
A = 60
B = 90
A += B
print(A)

150

117. WAE to check the given value is present in the collection.

In [23]:
l = [10, 20, [1, 2, 3], 'a']
v = 'a'
print(v in l)

True

118. WAE to check the given list is present in the list.

In [22]:
l = [10, 20, [1, 2, 3], 'a']
l1 = [1, 2, 3]
print(l1 in l)

True

119. WAE to check the given dict is present in the tuple.

In [24]:
t = (10, 20, {1, 2, 3}, {1:2, 2:3, 3:4})
d = {1:2, 2:3, 3:4}
print(d in t)

True

120. WAE to check the value is integer value or not.

In [27]:
a = 8089
print(type(a) is int)

True

121. WAE to check the value is string value or not.

In [28]:
s = '9'
print(type(s) is str)

True

122. WAE to check the value is single value or not.

In [47]:
val = 7
print(type(val) in [int, float, bytes, complex, bool])

True

123. WAE to check the value should not be a single value.

In [42]:
val = 'a'
print(type(val) not in [int, float, bytes, complex, bool])

True

124. WAE to check the value is multi value or not.

In [35]:
val = 'a'
print(type(val) in [str, list, tuple, set, dict])

True

125. WAE to check the value is mutable value or not.

In [37]:
val = [1, 2]
print(type(val) in [list, set, dict])

True

126. WAE to check the value is immutable value or not.

In [49]:
val = 'string'
print(type(val) in [str, tuple])

True

127. WAE to check the value is divisible by 6 as well as the value present in the collection or not.

In [48]:
n = 36
col = [19, 40, 90, 36]
print(n%6==0 and n in col)

True

128. WAE to perform bitwise and operation, giiven values are 15 and 19.

In [50]:
a = 15
b = 19
print(a & b)

3

129. WAE to perform the bitwise or operation, given values are 115 and 79.

In [51]:
a = 115
b = 79
print(a | b)

127

130. WAE to perform the bitwise xor operation, given values are 56 and 22.

In [52]:
a = 56
b = 22
print(a ^ b)

46

131. WAE to perform the bitwise not operation, given values is 15.

In [53]:
a = 15
print(~a)

-16

132. WAE to perform bitwise left shift with 32 and skipping value is 3.

In [54]:
m = 32
n = 3
print(m<<n)

256

133. WAE to perform bitwise right shift with 25 and skipping value is 2.

In [55]:
m = 25
n = 2
print(m>>n)

6

134. To find out the output of a given condition.
    (10+20*60 and 10**3) or ({10, 20} or not ([15-16]))

135. WAE to check if a given key is present in a dict.

In [5]:
d = {1:'a', 2:'b', 3:'c'}
k = 3
print(k in d)

True

136. WAE to check if a value is present in a dict.

137. WAE to check if a given key is not present in a dict.

138. WAE to check if key value pair is present in a dict or not.

139. WAE to check if two values are pointing to the same address or not.

In [56]:
a = 15
b = 15
print(a is b)

True

140. WAE to check both the valus should be integer and both the valus are pointing to the same address.

In [62]:
a = 1599
b = 1599
print(type(a) is int and type(b) is int and a is b)

False